@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  @apply bg-red-50;
  @apply text-gray-500;
}

@layer components {
    .btn {
        @apply bg-[#d1576b] text-white px-3 py-2 rounded-md text-sm text-white;
    }
    .card {
        @apply p-3 rounded-md bg-white shadow-md h-full;
    }
}