        <div class="footer">

            <a class="footer__links" href="#">contact</a>
            <a class="footer__links" href="#">github</a>
            <a class="footer__links" href="#">facebook</a>
            <a class="footer__links" href="#">twitter</a>
            <a class="footer__links" href="#">whatever</a>
        </div>
    </body>
</html>