<% include ./partials/header %>

<div class="wrapper">
    
<form class="middle" action="/login" method="POST">
	<h2 class="">Login</h2>
    <input type="text" name="username" placeholder="Username">
    <input type="password" name="password" placeholder="Password">
    <input class="" type="submit" value="Login">
</form>
</div>



<% include ./partials/footer %>