.lottery {
    display: flex;
    flex-direction: row;
    padding: 1rem 1rem;
}

.ball {
    border-radius: 50%;
    background-color: black;
    color: white;
    width: 5rem;
    height: 5rem;
    display: flex;
    font-size: 1.8rem;
    justify-content: center;
    align-items: center;
    margin-right: .5rem;
}